.gradle/
build/
**/build/
**/target/
out/
!integration-tests/order-service/order-it-app/src/main/java/com/kjs/wuli3/it/order/app/port/out/

*.iml
.idea/
.idea/modules/

*.class
*.log
*.tmp

.DS_Store
/.omc/

/.omc/**
/**/.omc/
